WALLET_SEED='correct lens reopen movie practice harsh blush satisfy ecology action unlock feed begin deny trouble timber bulb infant gun test steel bid rate input'
WALLET_ADDRESS='bostrom1ywemhcrla7f9lkktfsu3cnqv2mapw82a5yf5fc'
PYTHON_PATH='python3'